body {
  min-height: 100vh;
  font-family: Nunito;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 20px;
}

nav a,
#play-audio {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: transparent;
  font-family: Nunito;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 16px;
}

nav a:hover,
#play-audio:hover {
  transform: scale(1.25);
}

header {
  padding: 20px;
  text-align: center;
  line-height: 1;
  margin-bottom: -50px;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  justify-content: center;
  border-radius: 10px;
}

.head {
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 20px 10px 20px;
  color: #fff;
}

.video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.video > video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 767px) {
  header {
     font-size: 24px;
  }

  nav {
     font-size: 16px;
  }

  main {
     font-size: 16px;
  }

  footer {
     font-size: 14px;
  }
}
